body{
    text-align: center;
}

.profile-pic{
    border-radius: 10%;
    max-width: 50%;
}

@media (min-width: 1200px) {
    .profile-pic{
        max-width: 30%;
    }
}

.title{
    background-color: lavender;
    padding: 2%;
}

.list-group{
    max-width: 60%;
    display: inline-block;
}
.list-group-item{
    background-color: lavender;
    text-align: left;
}
.list-group-item > i {
    margin-right: 10px;
}