body{
    text-align: center;
}

.profile-pic{
    border-radius: 10%;
    max-width: 35vh;
    
}

.birrete{
    border-radius: 100%;
    float: left;
    width: 20% ;
}

@media (min-width: 1200px) {
    .profile-pic{
        float: right;
    }
}

#title{
    background-color: lavender;
}

.title{
    padding: 2%;
}

.main-title{
    font-family: Lato;
    font-size: 3.5rem;
}

.main-title > span{
    font-size: 120%;
    display: block;
}

.list-group{
    max-width: 60%;
    display: inline-block;
}
.list-group-item{
    background-color: lavender;
    text-align: left;
}
.list-group-item > i {
    margin-right: 10px;
}

.logo{
    max-width: 90%;
}

/* -----FUENTES--------
font-family: 'EB Garamond', serif;
font-family: 'Lato', sans-serif; */