body{
    text-align: center;
    font-size: 1.05rem;
}

.profile-pic{
    border-radius: 10%;
    width: 300px;
    margin-left: 15px;
}


#title{
    background-color: lavender;
}

.title{
    padding: 2%;
}

.main-title{
    font-family: Lato;
    font-size: 3.5rem;
    padding: 2% 0;
}

.main-title > span{
    font-size: 120%;
    display: block;
}

.subtitle{
    font-family: EB Garamond;
    margin: 3%;
    font-size: 2.5rem;
}

.list-group{
    max-width: 65%;
    display: inline-block;
}
.list-group-item{
    background-color: inherit;
    text-align: left;
}
.list-group-item > i {
    margin-right: 10px;
}

.logo{
    max-width: 90%;
}

.book-icon{
    display: none;
}
.book-icon > *{
    width: 80%;
}

@media (min-width: 1200px) {
    body{
        font-size: 1.1rem;
    }
    .profile-pic{
        float: right;
    }
    .main-title{
        font-size: 5rem;
    }
    .book-icon{
        display: inline;
    }
}

/* -----FUENTES--------
font-family: 'EB Garamond', serif;
font-family: 'Lato', sans-serif; */